section {
    margin-top: 13vh;
}
section h1 {
    font: 38px;
    text-shadow: 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.title {
    user-select: none;
    text-transform: capitalize;
}
.cardImage  {
    width: 100%;
}